<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/weather-icons-master/css/weather-icons.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <i id="icon-light-status" class="wi wi-day-sunny"></i>
    <span id="lbl-temp-reading">72&#x2109;</span>
    <div id="vid-tank"></div>
    <div id="list-todo" class="padding-content">
      <ul>
        <li>Track whether lights are day or night</li>
        <li>Video OR Picture area</li>
        <li>Pump - Start and Stop</li>
        <li>Bubbler - Start and Stop</li>
        <li>Feed Fish</li>
        <li>Tempature Reading</li>
        <li>Capture Chemical Readings</li>

      </ul>
    </div>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <!-- <i class="wi wi-night-alt-cloudy"></i> -->
  </body>
</html>
