
html{
  padding: 0;
  margin: 0;
}

body {
  padding: 100px 0 0 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

a {
  color: #00B7FF;
}

.padding-content{
  padding: 20px;
}

#icon-light-status{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 3em;
  color: #ccc;
}

#list-todo{

}

#lbl-temp-reading{
  position: absolute;
  left: 75px;
  top: 15px;
  font-size: 3em;
  letter-spacing: -5px;
  color: #ccc;
}

#vid-tank{
  width: 100%;
  height: 200px;
  background-color: #eee;
}
