
html{
  padding: 0;
  margin: 0;
}

body {
  padding: 100px 0 0 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

a {
  color: #00B7FF;
}

#btn-toggle-daynight{
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-margin{
  margin-bottom: 10px;
}

.padding-content{
  padding: 20px;
}

.centered-content{
  padding: 20px;
  text-align: center;
}

#icon-light-status{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 4em;
}

.icon-day-color{
  color: #ffeb3b !important;
}

.icon-night-color{
  color: #607d8b;
}

#list-todo{

}

#lbl-temp-reading{
  position: absolute;
  left: 90px;
  top: 15px;
  font-size: 3em;
  letter-spacing: -5px;
}

#vid-tank{
  width: 100%;
  height: 240px;
  padding: 0;
  background-color: #eee;
  text-align: center;
}

#stream{
  max-height: 240px;
  height: 240px;
}
